* {
    padding: 0;
    margin: 0;
}


header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: rgb(255, 255, 255);
}

.headerdiv h1 {
    color: rgba(167, 167, 167, 0.829);
}

.fa {
    font-size: 25px;
    margin-right: 10px;
}

.fa-bars {
    font-size: 35px;
    margin-right: 25px;
}

.firstpart {
    width: 100%;
    background-image: url(TP_Photos/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.firstpart_child {
    width: 70%;
    box-sizing: border-box;
    padding: 50px 50px 10px 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.firstpart_child h1 {
    font-family: 'Oswald', sans-serif;
    color: #ff6918;
    font-weight: 700;
    font-size: 88px;
    margin: 5px 466px 0 0;
}

.firstpart_child p {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    color: #555c66;
    margin-top: 30px;
    margin: 30px 520px 0 0;
    font-family: 'Open Sans', sans-serif;
}

.firstpart_child_input {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    margin-top: 70px;
}

.big {
    width: 70%;
    height: 50px;
    background-color: white;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 17px;
}

.little {
    width: 30%;
    height: 50px;
    background-image: linear-gradient(to right, #ff6918, #f43702);
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.firstpart_child span {
    margin-top: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
}


.secondpartcont {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.secondpartparent {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

.secondpart_div{
    width: 25%;
    height: 450px;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    color: white;
    flex-direction: column;
}

.red {
    background-color: #ff6918;
}

.orange {
    background-color: #f43702;
}

.darkgrey {
    background-color: #292d33;
}

.lightgrey {
    background-color: #555c66;
}

.secondpart_div h1 {
    font-size: 60px;
    font-weight: 900;
}

.secondpart_div h3 {
    font-size: 20px;
    margin-top: 25px;  
}

.secondpart_div p{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 50px;  
}

.secondpart_divi {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 100px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondpart_divi i{
    font-size: 60px;
    text-align: center;    
}

.red i{
    color: #ff6918;
}

.orange i {
    color: #f43702;
}

.darkgrey i {
    color: #292d33;
}

.lightgrey i {
    color: #555c66;
}


.thirdpart {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
}

.thirdpart h1 {
    color: #ff6918;
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.thirdpart p {
    color: #555c66;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin: 28px auto 0;
    width: 780px;
    text-align: center;
}

.thirdpart button {
    width: 15%;
    height: 50px;
    background-image: linear-gradient(to right, #ff6918, #f43702);
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 40px;
    font-size: 20px;
}

.forthpart {
    width: 100%;
    background-color: #ff6918;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forthpartparent {
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: white;
}

.forthpart_div1 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: left;
    box-sizing: border-box;
    padding: 70px 30px;
}

.forthpart_div1 h3{
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: -100;
    letter-spacing: 3px;
    word-wrap: break-word;
}


.forthpart_div1 h1{
    color: #ff6918;
    font-size: 60px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.forthpart_div1 p{
    color: #111111;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}


.forthpart_div1 ul{
    color: #111111;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: -100;
    margin-left: 19px;
    margin-top: 20px;
}

.forthpart_div1 span{
    color: #111111;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: -150;
    margin-top: 20px;
}

.forthpart_div1 a{
    color: #adcce9;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-weight: -150;
}

.forthpart_div1 a:hover {
    color: #a1a1a1;
}

.forthpart_div1 button{
    width: 29%;
    border: none;
    border-bottom: 2px solid;
    color: #171b1f;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: -150;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
}

.forthpart_div2 {
    width: 34%;
    height: 700px;
}

.forthpart_div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forthpart_div3 {
    width: 33%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.forthpart_div3 img {
    width: 100%;
    height: 50%;
}

.fifthpart {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 300px 0px 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fifthpart_div1 {
    width: 50%;
    box-sizing: border-box;
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
}

.fifthpart_div1 h3 {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 3px;
    word-wrap: break-word;
}

.fifthpart_div1 h1 {
    color: #ff6918;
    font-size: 60px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.fifthpart_div1 p{
    color: #555c66;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px;
    line-height: 1.6;
}

.fifthpart_div1 button{
    width: 50%;
    height: 50px;
    background-image: linear-gradient(to right, #ff6918, #f43702);
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
    color: white;
    border: none;
} 

.fifthpart_div2 {
    width: 45%;
}

.fifthpart_div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sixthpart {
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    padding: 50px 200px;
    background-color: white;
    background-image: url(TP_Photos/6.jpg);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixthpartparent {
    width: 90%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 350px;
}

.sixthpart_div {
    width: 30%;
    border: 1px solid rgba(32, 32, 32, 0.596);
    background-color: white;
    box-sizing: border-box;
    padding: 50px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixthpart_div1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6918;

}


.sixthpart_div1 i {
    font-size: 40px;
    color: white;
}


.sixthpart_div h1 {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 3px;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.sixthpart_div p {
    font-style: italic;
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


.sixthpartparent span{
    color: #111111;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: -150;
    margin: 40px auto 60px;
    font-style: italic;
}

.sixthpartparent a{
    color: #adcce9;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-weight: -150;
    font-style: italic;   
}

.seventhpart {
    width: 100%;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 60px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.seventhpart_div1 {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 200px;
}

.border {
    width: 15%;
    height: 15px;
    background-color: #ff6918;
}

.seventhpart_div1 h1 {
    color: #ff6918;
    font-size: 60px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.seventhpart_div1 p{
    color: #111111;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px;
    line-height: 1.6;
}

.seventhpart_div1 button{
    width: 30%;
    height: 50px;
    background-image: linear-gradient(to right, #ff6918, #f43702);
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
    color: white;
    border: none;
} 

.seventhpart_div2 {
    width: 40%;
    box-sizing: border-box;
    padding: 20px 0px;
    margin-left: 40px;
}

.seventhpart_div2 img{
    width: 60%;
    height: 90%;
    object-fit: cover;
}

.eighthpart{
    width: 100%;
    background-image: url(TP_Photos/8.jpg);
    box-sizing: border-box;
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eighthpartparent {
    width: 80%;
    height: 900px;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eighthpart_div1 {
    width: 85%;
    height: 40%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 40px;
}

.eighthpart_div1 h1 {
    color: #ff6918;
    font-size: 80px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.eighthpart_div11 {
    width: 10%;
    height: 2px;
    background-color: #ff6918;
    margin-bottom: 20px;
}

.eighthpart_div1 h3{
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.eighthpart_div1 p{
    color: #555c66;
    font-size: 17px;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px;
    text-align: center;
}


.eighthpart_div2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eighthpart_div21 {
    width: 50%;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.div21_child {
    width: 50px;
    height: 50px;
    background-color: #ff6918;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div21_child i {
    font-size: 30px;
    color: white;
}

.eighthpart_div21 p{
    color: #000000;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 700;
}

.eighthpart_div22 {
    width: 50%;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.littleinput {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    border-color: #b9b9b9;
}

.biginput {
    width: 100%;
    height: 150px;
    border-color: #b9b9b9;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 10px 100px;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
}

.submit{
    width: 30%;
    height: 50px;
    background-image: linear-gradient(to right, #ff6918, #f43702);
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
    color: white;
    border: none;
} 

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(46, 46, 46);
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer p {
    color: white;
}

footer a {
    color: #259bca;
}

